/* General */

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
}

html,
body,
nav,
header{
    margin: 0;
}

a {
    transition: all .3s;
}

.greenletter {
    color: #1ac056;
/*    font-weight: 400;*/
}

.col-1-2 {
    width: 50%;
    float: left;
}

h2 {
    text-align: center;
}

section {
    padding: 50px 80px 90px 80px;
}
/* /General */

/* Nav Menu */

nav#main-nav {
    background-color: #fff;
    position: fixed;
    z-index: 10;
    width: 100%;
}

nav#main-nav .toggle, #drop {
    display: none;
}

nav#main-nav ul {
    margin: 0;
    text-align: right;
}

nav#main-nav ul li {
    display: inline-block;
    padding: 25px;
}

nav#main-nav ul li a{
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
    text-transform: lowercase;
}

nav#main-nav ul li a:hover {
    color: #291f1a;
}


/* /Nav Menu */

/* Main Header */
header#main-header {
    height: 90vh;
    background-image: url(../img/header-background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

header#main-header div#h-container {
    color: #fff;
    font-family: 'Roboto', 'sans-serif';
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 300;
    
/*
    height: 100%;
    padding: 35vh 0;
    text-align: center;
*/
}

header#main-header div#h-container h1,
header#main-header div#h-container h2 {
    font-size: 3em;
    font-weight: 300;
}

header#main-header div#h-container h2{
    font-size: 2em;
    font-weight: 300;
}
/* /Main Header */

/* Section About Me */
section#about-me {
    background-color: #f9fcfe;
    overflow: hidden;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
}

section#about-me figure {
    margin: 0;
    text-align: center;
}

section#about-me figure img {
     max-width: 100%;
     max-height: 350px;
    border: 10px solid #fff;
    border-radius: 10px;
}

section#about-me div p {
    font-weight: 300;
    line-height: 1.4em;
}
/* /Section About Me */

/* Section My Skills */
section#my-skills p {
    text-align: center;
    font-weight: 300;
}

section#my-skills div.skills-icons{
    text-align: center;
}

section#my-skills div.skills-icons figure{
    display: inline-block;
}

section#my-skills div.skills-icons figure img {
    margin-bottom: 15px;
}
/* /Section My Skills */

/* Section Portfolio */
section#portfolio .portfolio-items {
    text-align: center;
    font-size:0;
}

section#portfolio .portfolio-items .portfolio-item {
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 33.3333%;
    position: relative;
}

section#portfolio .portfolio-items .portfolio-item .item-mask {
    background-color: rgba(42, 61, 79, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    font-size: initial;
}

section#portfolio .portfolio-items .portfolio-item .item-mask:hover {
    opacity: 1;
}

section#portfolio .portfolio-items .portfolio-item .item-mask .item-content {
    height: 330px;
    border: 1px solid #fff;
    margin: 10px;
    position: relative;
}

section#portfolio .portfolio-items .portfolio-item .item-mask .item-content .item-content-inner {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    padding: 5px;
    font-weight: 300;
}

section#portfolio .portfolio-items .portfolio-item .item-mask .item-content .item-content-inner a{
    color: #fff;
    font-size: 2em;
}

section#portfolio .portfolio-items .portfolio-item .item-mask .item-content .item-content-inner a:hover {
     color: #1ac056;
}


section#portfolio div#portfolio-item-1 {
    background-image: url(../img/portfolio1.jpg);
}

section#portfolio div#portfolio-item-2 {
    background-image: url(../img/portfolio2.jpg);
}

section#portfolio div#portfolio-item-3 {
    background-image: url(../img/portfolio3.jpg);
}

/* Section Portfolio */




/* Section Contact */
section#contact {
    background-color: #213b50;
    color: #fff;
    overflow: hidden;
}

#contact .contact-data {
    width: 50%;
    float: left;
}

#contact .contact-data h2 {
    text-align: left;
    font-size: 38px;
}

#contact .contact-data address {
    font-style: normal;
    margin: 72px 0;
    line-height: 25px;
}

#contact .contact-data address a {
    color: #1ac056;
}

#contact .contact-data address a:hover {
    color: #fff;
}

#contact .contact-data .contact-social-icons a {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    height: 38px;
    width: 38px;
    text-align: center;
    line-height: 38px;
    margin-right: 30px;
    font-size: 22px;
}

#contact .contact-data .contact-social-icons a:hover{
    color: #213b50;
    border: 1px solid #213b50;
    background-color: #fff;
}

#contact .contact-form {
    width: 50%;
    float: left;
    margin-top: 100px;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #2b4a64;
    border: #2b4a64 0px;
    color: #fff;
}

#contact .contact-form input:focus,
#contact .contact-form textarea:focus {
    background-color: #426684;
}

#contact .contact-form input[type=submit] {
    background-color: #1ac056;
    color: #fff;
    width: auto;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 30px;
    float: right;
    border: 1px solid #1ac056;
}

#contact .contact-form input[type=submit]:hover {
    background-color: #fff;
    color: #1ac056;
    cursor: pointer;
}

/* /Section Contact */

/* Footer */
footer {
    background-color: #142634;
    color: #fff;
    padding: 0 80px;
}

footer p {
    margin: 0;
}




/*___________________________________________________________________________________________*/



/*
#contact .contact-form input, textarea{
    display: block;
    border: none;
    margin: 20px;
    padding: 20px;
}

#contact .contact-form input[type="text"], textarea {
    width: 100%;
    height: 30px;
    background-color: #213a5f;
}

#contact .contact-form input[type="submit"] {
    background-color: #1ac056;
    color: #fff;
    text-transform: uppercase;
    float: right;
    width: 150px;
    border: 2px solid #fff;
}

#contact .contact-form textarea {
    height: 100px;
}
*/


/*____________________________________________________________________________________________*/

/* /Section Contact */






























